
*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

img{
     max-width: 100%;
}

.navbar{
     height: 80px;
}

/* Header */

.my-name{
     font-weight: 600;
}
.my-name i{
     margin-right: 15px;
}


footer{
     background-color: rgb(230, 227, 227);
}

